@inherits LayoutComponentBase

<PageTitle>TuraProductsViewer</PageTitle>

<TuraProductsViewer.Shared.Cork.CorkNavMeny />

<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <TuraProductsViewer.Shared.Cork.CorkTopBar />

    <div id="content" class="main-content">
        <div class="layout-px-spacing">

            @Body

        </div>

        <div class="footer-wrapper">
            <div class="footer-section f-section-1">
                <p class="">Copyright © @DateTime.Now.Year <a target="_blank" href="#">Tura Scandinavia</a></p>
            </div>
        </div>
    </div>

</div>