@page "/"

<PageTitle>Tura Sales Management</PageTitle>

<div class="page-header">
    <div class="page-title">
        <h3>Tura Sales Management</h3>
    </div>
</div>


<div class="row layout-top-spacing" id="cancel-row">

    <div class="col-md-8 layout-spacing">
        <div class="widget-content widget-content-area br-6">

            <center><h5>Info</h5></center>

            <hr />
            
            <p>...</p>
        </div>
    </div>


    <div class="col-md-4 layout-spacing">
        <div class="widget-content widget-content-area br-6">

            <center><h5>Patchnotes</h5></center>

            <hr />

            <p>...</p>

        </div>
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {

    }
}
