@page "/"

<PageTitle>Tura Sales Management</PageTitle>

<div class="page-header">
    <div class="page-title">
        <h3>Tura Sales Management</h3>
    </div>
</div>


<div class="row layout-top-spacing" id="cancel-row">

    <div class="col-md-8 layout-spacing">
        <div class="widget-content widget-content-area br-6">

            <center><h5>Info</h5></center>

            <hr />

            Please note that the application is still in early stages of production and errors might occur, please report the error codes to Admin. 
            
            <p> </p>
        </div>
    </div>


    <div class="col-md-4 layout-spacing">
        <div class="widget-content widget-content-area br-6">

            <center><h5>Patch Notes</h5></center>

            <hr />

            <b>2022-12-13</b>
            <p>
                <b>-</b> Shelf Label layout changed to the right size.
            </p>
            <p>
                <b>-</b> Images in PDF and HTML files are now clickable and sends user to the products page. 
            </p>
            <p>
                <b>-</b> Products Images are now visible when exporting data to Excel. 
            </p>
            <p>
                <b>-</b> Some of the pictures are now loaded locally instead of fetching it from the web for better image quality and speed optimization.
            </p>
            <hr />

            <b>2022-12-12</b>
            <p>
                <b>-</b> Price label layout displayed incorrect price bug fixed (choose the price option 'None' to remove prices in the layout).
            </p>
            <p>
                <b>-</b> There is now a option to create Barcodes without displaying EAN.
            </p>
            <p>
                <b>-</b> Notification System implemented. 
            </p>
            <p>
                <b>-</b> The application now notifies the user if an error occurs. 
            </p>
            <p>
                <b>-</b> The application now auto detects wrong file format while uploading files (.txt, .xlsx)
            </p>
            <hr />

            <b>2022-12-09</b>
            <p>
                <b>-</b> Excel Export implemented.
            </p>
            <p>
                <b>-</b> Price Tag Layout modified.
            </p>
            <p>
                <b>-</b> Pin Flag Layout modified.
            </p>
            <hr />

            <b>2022-12-08</b>
            <p>
                <b>-</b> Price Tag Layout added.
            </p>
            <p>
                <b>-</b> Shelf Label Layout added.
            </p>
            <p>
                <b>-</b> Pin Flag Layout added.
            </p>
            <p>
                <b>-</b> Product Images are scaled down in size to optimze the speed of PDF creation.
            </p>
            <p>
                <b>-</b> Page stuck on loading screen while creating PDF's bug fixed.
            </p>
            <p>
                <b>-</b> The application now ignores duplicated Product IDs when uploading files (.txt, .xlxs) and only adds the product once. 
            </p>
            <p>
                <b>-</b> Creator Page speed optimization.
            </p>

        </div>
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        
    }
}
