@page "/login"

<PageTitle>Login</PageTitle>



<p>@userName</p>
<p>@password</p>


@code {
        string userName = "admin";
        string password = "admin";

       void OnLogin()
       {
        
       }
}
